body{
	background-color: lightgreen;
	text-align: left;
	font-family: fantasy;
	font-size: 15;
}
h1{
	color: brown;
	text-align: center;
	font-family: sans-serif;
}
h2{
	color: brown;
	text-align: center;
	font-family: sans-serif;
}
h3{
	color: brown;
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
	margin-top: 50px;
}
footer{
	font-size: 60px;
	color: darkgreen;
}

p{
	color: navy;
	font-size: 18px;
	font-family: inherit;
}
#Cacao{
	width: 150px;
	height: 150px;
}
#chocopic{
	width: 150px;
	height: 150px;
}
#history{
	width: 200px;
	height: 150px;
	float: right;
}
#holidays{
	width: 200px;
	height: 200px;
}
#egg{
	width: 200px;
	height:  200px;
}
#haunting{
	width: 200px;
	height: 200px;
}
#gift{
	width; 200px;
	height: 200Px;
}
#bestcakerecipe{
	width: 200px;
	height: 200px;
}
#decoration{
	
	height: 1200px;
	width: 200px;
	
	
}
#pie{
	height: 900;
	width: 200px;
}
#decoration2{
	
	height: 1200px;
	width: 200px;

}