body{
	background-color: lightgreen;
	text-align: left;
	font-family: fantasy;
	font-size: 15;
}
h1{
	color: brown;
	text-align: left;
	font-family: sans-serif;
}
h2{
	color: brown;
	text-align: left;
	font-family: sans-serif;
}
h3{
	color:brown;
	text-align: left;
	font-family: sans-serif;
}


p{
	color: navy;
	font-size: 18px;
	font-family: inherit;
}
#Cacao{
	width: 150px;
	height: 150px;
	float: right;
}
#chocopic{
	width: 150px;
	height: 150px;
	float: right;
}
#history{
	width: 200px;
	height: 150px;
	float: right;
}
#holidays{
	width: 200px;
	height: 200px;
	float: right;
}

#decoration.left{
	
	float: left;
	border-width: thin;
	height: 1300px;
	width: 400px;
	
}