body{
	background-color: lightgreen;
	text-align: center;
	font-family: fantasy;
	font-size: 15;
}
h1{
	color: brown;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 15px;
	margin-top: 10px;
	font-family: sans-serif;
}
h2{
	color: brown;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 15px;
	margin-top:10px;
	font-family: sans-serif;
}
h3{
	color:brown;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 15px;
	margin-top:10px;
	font-family: sans-serif;
}


p{
	color: navy;
	font-size: 18px;
	font-family: inherit;
}
#Cacao{
	width: 150px;
	height: 150px;
}
#chocopic{
	width: 150px;
	height: 150px;
}
#history{
	width: 200px;
	height: 150px;
}
#holidays{
	width: 200px;
	height: 200px:
}

#decoration.left{
	
		align-content: flex-end;
		margin-left: auto;
		height: 2000px;
	border-width: thin;
	
}